html {
    scroll-behavior: smooth;
}
.journey-section {

}
.journey-step{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.journey-step:nth-child(odd) {
    flex-direction: row-reverse;
}
.journey-step-content{
    width: 45%;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

[v-cloak] {
    display: none;
}
.max-h-80 {
    max-height: 80VH;
}
.top-10 {
    top: 13VH;
}
.timeline-container{
    position: absolute;
    left: 49%;
    top:0;
    height: 100%;
}
.timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    background: #e2e8f0;
    width: 2px;
}
.timeline-dot{
    position: sticky;
    top: 50%;
    left: auto;
    right:auto;
    width: 20px;
    height:20px;
    border: #e2e8f0 2px solid;
    border-radius: 50%;
    background: white;
    z-index: auto;
}

@media only screen and (max-width: 768px) {
    .timeline-container{
        left: 2%;
    }
    .journey-step{
        display:block;
    }
    .journey-step-content{
        width: 100%;
    }
}
