html {
    scroll-behavior: smooth;
}

.journey-step-content{
    width: 45%;
}

[v-cloak] {
    display: none;
}
.max-h-1\/2{
    max-height: 50VH;
}
.timeline-container{
    position: absolute;
    left: 49%;
    top:0;
    height: 100%;
}
.timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    background: #e2e8f0;
    width: 2px;
}
.timeline-dot{
    position: sticky;
    top: 50%;
    left: auto;
    right:auto;
    width: 20px;
    height:20px;
    border: #e2e8f0 2px solid;
    border-radius: 50%;
    background: white;
    z-index: auto;
}
.tooltip {
    position: relative;
}
.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: absolute;
    z-index: 100;
    min-width: 200px;
    max-width: 100vw;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
}
.plan-label{
    height:100%;
    cursor: pointer;
    transition: .3s ease-in-out all;
}
.subscription-radio:checked + label{
    border-color: black;
    background-color: white;
}
.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgb(54, 49, 49);
}


@media only screen and (max-width: 768px) {
    .timeline-container{
        left: .5rem;
    }
    .journey-step-content{
        width: 100%;
        border-right: none;
    }
}
