.btn {
    @apply py-2 px-6 rounded;
}
.btn-cta{
    @apply border border-black;
}
.btn-primary{
    @apply bg-black text-white px-6;
}
.btn-danger {
    @apply border border-red-500;
}
.icon-button {
    @apply border border-black rounded inline-flex items-center bg-white shadow-sm px-2 py-1;
}
.input {
    @apply border py-2 px-2 mb-4 w-full rounded;
}

label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}
.checkbox {
    @apply mb-0 mr-4;
}
.alert{
    @apply border mx-auto bg-white px-4 py-3 max-w-lg rounded;
}
.success{
    @apply  border-blue-800;
}
.danger{
    @apply border-red-700 bg-red-200;
}
[v-cloak] {
    display: none;
}
.max-h-80 {
    max-height: 80VH;
}
.top-10 {
    top: 13VH;
}
