html {
    scroll-behavior: smooth;
}
.journey-section {

}
.journey-step{
    display:flex;
}
.journey-step:nth-child(odd) {
    flex-direction: row-reverse;
}
.journey-step-content{
    width: 45%;
}
[v-cloak] {
    display: none;
}
.max-h-80 {
    max-height: 80VH;
}
.top-10 {
    top: 13VH;
}
.timeline-container{
    position: absolute;
    left: 49%;
    top:0;
    height: 100%;
}
.timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 13.5px;
    background: black;
    width: 4px;
}
.timeline-dot{
    position: sticky;
    top: 50%;
    left: auto;
    right:auto;
    width: 30px;
    height:30px;
    border: black 3px solid;
    border-radius: 50%;
    background: white;
    z-index: auto;
}

@media only screen and (max-width: 768px) {
    .timeline-container{
        left: 5%;
    }
    .journey-step{
        display:block;
    }
    .journey-step-content{
        width: 100%;
    }
}
